@{
    ViewData["Title"] = "Account";
    var cookies = Context.Request.Cookies;
}

<div class="container">
    <h1 class="mt-5">Account Information</h1>
    <div style="margin-bottom: 20px;">
        <a asp-controller="Home" asp-action="Index"
           style="padding: 8px 16px;    background:white; ; color:black; border-radius:6px; text-decoration:none;">
            ← Back to Home
        </a>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Cookie Values</h5>
            <ul>
                @foreach (var c in cookies)
                {
                    <li>@c.Key : @c.Value</li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Session Values</h5>
        <ul>
            <li>Session Id: @ViewBag.SessionId</li>
            <li>User Name: @ViewBag.SessionUserName</li>
        </ul>
    </div>
</div>
